body {
    background-color: #123850;
    min-height: 100vh;
    display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:monospace;
}
.Title-items {
    right: 15%;
    top: 10%;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-content: flex-end;

}
.Title {
    color: #00FF1A;
    text-shadow: 0px 0px 35px #00FF1A;
    font-size: 15vh;
    background: linear-gradient(
        to right,
        #00FF1A 20%,
        #b0f8b7 30%,
        #c2f6c7 70%,
        #00FF1A 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.Version {
    padding-top: 14px;
    color: #796F6F;
    font-size: 2.5vh;
}
.Navbar {
    background-color: rgb(20, 25, 30);
    min-height: 100vh;
    top: 0;
    padding-top: 24px;
    color: #523f3f;
}
.Navbar-tutorial {
    min-height: 100vh;
    top: 0;
    padding-top: 24px;
}
.Tutorial-levels {
    color:#00FF1A;
    text-decoration: none;
}
a:link {
    color:#40de52;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: none;
}
header {
    min-width: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3.5vh;
    font-size: 4vh;
    box-shadow: 0px 0px 10px #1c1c1c;
}
ul {
    list-style-type: none;
  padding: 0; 
  margin: 0; 
}
.Nav-item {
    font-size: 3.5vh;
}
.Tutorial-title {
    color: #A1A1A1;
    font-size: 4.5vh;
    letter-spacing: 5px;
    transition: 0.4s;
}
.Tutorial-title:hover {
    color: #ffffff;
    transition: 0.4s;
}
.Login-button {
    margin-top: 20px;
    text-align: center;
    background-color: #202a35;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 15px;
    transition: 0.2s;
    box-shadow: 0px 0px 3px #1c1c1c;
}
.Back-button {
    margin-top: 14px;
    text-align: center;
    background-color: #4b4f53;
    border-radius: 8px;
    padding: 10px;
    color: #d8d8d8;
    font-size: 24px;
    transition: 0.2s;
}
.Back-button:hover {
    background-color: #696d71;
    transition: 0.2s;
}
.completed {
    color: #00FF1A;
    transition: 0.3s;
  }
.completed:hover {
    text-shadow: 0px 0px 35px #00FF1A;
    transition: 0.3s;
}
.notCompleted {
    color:#696d71;
    transition: 0.3s;

}
.notCompleted:hover{
    color:#98999b;
    transition: 0.3s;
}
.signing {
    background-color: #98999b;
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family:monospace;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 16px;
}
.signing:hover {
    background-color: #d8d8d8;
    box-shadow: 0px 0px 5px #bdbdbd;
    transition: 0.3s;
}
.levelEditLink {
    margin-top: 3002px;
    color: rgb(189, 189, 189);
    transition: 0.3s;
}
.levelEditLink:visited{
    color: none;
}
.levelEditLink:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.nextLvl{
    color: #00FF1A;
}
.nextLvl:visited{
    color: none;
}
.homeLink{
    color: #1c1c1c;
}
.homeLink:visited{
    color: none;
}
  
