body {
  font-family:monospace;
}
.LevelPage {
    background-color: #3D4145;
    min-height: 100vh;
    display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Lexend';
}
.vim-editor {
  background-color: #3D4145;
  min-height: 100vh;
  display: flex;
font-size: calc(10px + 2vmin);
color: white;
font-family: 'Lexend';
}
.text-highlight {
  background: #00FF1A;
  text-shadow: 0px 0px 35px #00FF1A;
  color: black;
}
.utilities {
  display:inline;
  padding: 5px;
  align-items:baseline;
  width: 25%;
  font-family:monospace;
}
.level-name {
  background-color: #50585f;
  padding: 16px;
  border-radius: 8px;
  height: auto;
  width: auto;
  font-size: 30px;
}
.user-info{
  padding: 10px;
}
.levelCompletion {
  background-color: #272727;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
.goldText {
  color: gold;
}